*, *::before, *::after{
    box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Goblin+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');

body{
    background-image: url(https://static5.depositphotos.com/1000781/528/i/600/depositphotos_5281336-stock-photo-grunge-wooden-logs.jpg);
    background-repeat:repeat; ;
    /* background-size: contain; */
    font-family: 'Goblin One', cursive;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;}


:root {
    --hue-neutral:45;
    --hue-wrong: 0;
    --hue-correct:145;
}

#question-container{
        --hue:var(--hue-neutral);
        position: absolute;
            width:  800px;
            max-width: 80%;
            height: 35%;
            background: hsl(var(--hue), 40%,  20%);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 0 0 10px 2px;

}




body.correct{
    --hue:var(--hue-correct)
}

body.wrong{
    --hue:var(--hue-wrong)
}

body.neutral{
    --hue:var(--hue-neutral)
}



#question-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

@media(max-height:750px){
    #question-box{overflow-y: scroll;
    }
}

#question{
    text-align:left;
    font-size:larger;
}

.btn{
    --hue: var(--hue-neutral);
    width: 98%;
    font-size:x-large;
    margin-top: 10px;
    padding: 5px 5px;
    border: 2px solid hsl(var(--hue), 100%, 80%);
    background: hsl(var(--hue), 100%,40%);
    color: rgb(235, 235, 235);
    font-family: 'Goblin One', cursive;
    border-radius: 25px;
    cursor: pointer;

}


.btn:hover{
    transition: transform 150ms;
    transform: scale(1.05);
}

.btn.correct {
    --hue: var(--hue-correct);

}

.btn.wrong{
    --hue: var(--hue-wrong);
}

@media(max-height:750px){
.btn{
    height: 35px;
    font-size: medium;
    overflow-y: scroll;
}
}



.hide{display: none;}



#next-button {
    width: 100%;
}



/* Title screen */ 

.strt-scrn-cont{border:2px solid olivedrab;
                display: flex;
                height: 100vh;
                width: 100vw;
                justify-content: center;
                align-items:flex-start;

}

.sc-btn-img{position: absolute;
        margin: 0; 
        top: 53%;
        left: 50%;
        width: 12%;
        height: 21%;
        color: red;
        border-radius: 30px;
        font-family: 'Goblin One', cursive;
        font-size:x-large;
        font-weight: 900;
} 

h1{position: absolute;
    color: rgb(212, 128, 17);
    font-size: 110px;
    text-align: center;
    bottom: 75%;
    max-width: 600;

}

@media(max-width: 1444px),(max-height:740px){
    h1{
        font-size: 80px;
    }
}
@media(max-width: 1050px),(max-height:530px){
    h1{
        font-size: 50px;
    }
}






.bear1{margin: auto;
    width: 40%; 
    height: 100%
}

.start-button{position: absolute;
    color: rgba(145, 111, 18, 0.952);
    background-color: rgb(230, 230, 21);
    left: 53%;
    top: 63.65%;
    border: 2px solid rgb(110, 89, 89);
    border-radius: 50px;
    font-family: 'Goblin One', cursive;
    font-size: xx-large;
}

#start-screen-start:hover{cursor: pointer;
    color: white;
    border: 2px solid white;
}

@media (max-width: 1525px),(max-height:730px){
    .start-button{width: 80px;
                height: 40px;
                    font-size: 20px;
    }    

}

@media (max-width: 950px),(max-height:450px){
    .start-button{width: 50px;
                height: 30px;
                font-size: 10px;


    }
}
    
@media(max-height:750px){
    #question-container{
        overflow-y: scroll;


    }

}