font-family: 'Goblin One', cursive;

body{background-color:cadetblue;}

h1{text-align: center;
    text-decoration:overline;
    color: aquamarine;
    font-size:50px;

}button{margin: 0;
        position: absolute;
        top: 30%;
        left: 40%;
        width: 20%;
        height: 10%;
        background-color:khaki ;
        border-radius: 30px;
}